.registerName {
color: var(--black, #121417);
    font-family: "MacPaw Fixel Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.8px;
}

.registerInfo {
    margin-top: 20px;
    color: rgba(18, 20, 23, 0.80);
    font-family: "MacPaw Fixel Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.form {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.registerContainer {
    max-width: 628px;
    /* margin: 0 auto; */
    padding: 64px 48px;
    border-radius: 30px;
    background-color: rgba(133, 170, 159, 0.10);
}

.inputContainer {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
} 
.formInput {
    border-radius: 15px;
    border: 1px solid rgba(18, 20, 23, 0.10);
    padding: 0 18px;
    width: 100%;
    height: 64px;
 }

 .formLabel {
    color: #121417;
    font-family: "MacPaw Fixel Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    background-color: inherit;
    padding: 5px 10px;
    pointer-events: none;
    position: absolute;
    transition: all 200ms;
    top: 18px;
    left: 20px;
    
}

.classHigh {
    color: #FCFCFC;
    top: -10px;
    left: 10px;
    font-size: 14px;
    background-color: #A5C0B8;
    padding: 6px 12px;
    border-radius: 15px;
    line-height: 1;
}

.formInput:focus + .formLabel,
.formInput:not(:placeholder-shown) + .formLabel
{
    color: #FCFCFC;
    top: -10px;
    left: 10px;
    font-size: 14px;
    background-color: #A5C0B8;
    padding: 6px 12px;
    border-radius: 15px;
    line-height: 1;
}

.formInput:hover,
.formInput:focus-visible {
    border: 1px solid #85AA9F;
    outline: #85AA9F;
}

.ayeBtn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}


.btn {
    color: #FCFCFC;
    font-family: "MacPaw Fixel Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    
    border-radius: 30px;
    background-color: #A5C0B8;
    padding: 16px 16px;
    justify-content: center;
    align-items: center;
    /* outline: #A5C0B8; */
    border: none;
}
.btn:hover,
.btn:focus {
    background: #85AA9F;
}

.textRegister {
    display: block;
    color: rgba(18, 20, 23, 0.50);
    font-family: "MacPaw Fixel Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    text-decoration-line: underline;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
}